#banner{
    width: 99vw;
}

#navbar {
    background-color: #3E88B5;
    width: 99vw;
}

.btn {
    background-color: #3E88B5;
    color: white;
    padding: 5px;
    border-radius:0;
}

.btn:hover {
    background-color: #556879;
}

#welcome{
    margin: 25px;
    padding-top: 50px;
    font-size: 2vw;
}

#home{
    width: 65vw;
}

#descr{
    margin: 25px 10px;
    font-size: 18px;
}